.discount {
    border: 1px solid #3736364D;
    width: 50px;
    margin-top: 15px;
}

.discount-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.deleteicontable{
    width: 23px;
    height: 23px;
}
.bill-table-verify {
    border-bottom: 1px solid rgb(129, 123, 123);
    border-collapse: collapse;
    width: 100%;
}

.bill-section-verify {
    padding-top: 10px;
}

.bill-table-verify thead {
    background-color: #56648B;
    color: white;
    font-size: 16px;
    text-align: center;
}

.bill-table-verify th,
.bill-table-verify td {
    border-bottom: 1px solid rgb(214, 212, 212);
    padding: 8px;
    width: 13%;
    font-size: 14px;
    /* opacity: 0.2; */
    /* border-right: 1px solid red; */
}

.bill-table-verify th {
    border-right: 1px solid rgb(170, 164, 164);
}
.bill-table-container {
    max-height: 400px; /* Adjust the height according to your requirements */
    overflow-y: auto;
  }
  .bill-table-container-verify {
    max-height: 400px; /* Adjust the height according to your requirements */
    overflow-y: auto;
  }
  
@media (min-width: 320px) and (max-width:480px){
    .discount{
        width: 30px;
    }
    .deleteicontable{
        width: 15px;
        height: 15px;
    }
    .bill-table-verify{
        border: 1px solid rgb(194, 191, 191);
    }
    .bill-table-verify th, .bill-table-verify td {
        /* border-bottom: 1px solid rgb(214, 212, 212); */
        /* padding: 8px; */
        width: 35%;
        font-size: 10px;
        /* opacity: 0.2; */
        /* border-right: 1px solid red; */
    }
}