.bill-table {
  border-bottom: 1px solid rgb(129, 123, 123);
  border-collapse: collapse;
  width: 100%;
}

.bill-table thead {
  background-color: #56648B;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.bill-table th,
.bill-table td {
  border-bottom: 1px solid rgb(214, 212, 212);
  padding: 8px;
  width: 25%;
  font-size: 14px;
  /* opacity: 0.2; */
  /* border-right: 1px solid red; */
}
.bill-table th {
  border-right: 1px solid rgb(214, 212, 212);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: center;
  justify-content: center;
  /* display: flex; */
}
.bill-table-container-home{
  max-height: 150px; /* Adjust the height according to your requirements */
  overflow-y: auto;
}
@media (min-width: 320px) and (max-width:480px) {
  .bill-section{
    padding-left: 13px;
    padding-right: 13px;
  }
}