.contactus-section {
    padding-left: 23%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.contactus-content {
    background-color: #191918;
    /* height: 100vh; */
    padding-left: 23%;
    padding-top: 70px;
    padding-bottom: 35px;
}

.contactus-content-left ul {
    list-style: none;
}

.contactus-content-right ul {
    list-style: none;
    color: #FFFFFF;
}

.left-row1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
}

.left-row2 {
    color: #a39f9f;
    font-size: 23px;
}

.left-row3 {
    font-size: 25px;
    color: #FFFFFF;
}

.right-row1 {
    font-size: 20px;
}

.right-row2 {
    font-size: 25px;
}

.contactus-right {
    display: flex;
    justify-content: end;
    padding-right: 40px;
}

.contactus-right img {
    width: 90px;
    height: 90px;
}

.contactus-right-col {
    display: flex;
    align-items: center;
}

.contactus-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-left {
    font-size: 45px;
    color: #454E67;
    font-weight: 600;
}

.contactus-footer-section {
    padding-top: 45px;
}

.contactus-footer {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

.contactus-footer-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contactus-footer-icons img {
    width: 30px;
    height: 30px;
}

@media (min-width: 320px) and (max-width:480px) {
    .contactus-section {
        padding-left: 0;
        padding-top: 18%;
        padding-bottom: 12px;
    }

    .contactus-left {
        justify-content: center;
        font-size: 25px;
        font-weight: 700;
    }

    .contactus-right {
        justify-content: center;
        padding-right: 0;
    }

    .contactus-right-col {
        justify-content: center;
    }

    .contactus-right img {
        width: 80px;
        height: 80px;
    }

    .contactus-content {
        font-size: 12px;
        padding-right: 10px;
        padding-left: 0px;
        padding-top: 10px;
        font-weight: 600;
        overflow-y: scroll;
    }

    .contactus-content-left {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contactus-content-right{
        text-align: center;
    }
    .left-row1{
        font-size: 16px;
    }
    .left-row2{
        font-size: 12px;
    }
    .left-row3{
        font-size: 12px;
    }
    .right-row1{
        font-size: 12px;
    }
    .right-row2{
        font-size: 14px;
    }
    .contactus-footer-section {
        padding-top: 0px;
        padding-left: 35px;
    }
    .contactus-content-right ul{
        font-weight: 300;
    }
    .contactus-footer{
        font-size: 14px;
    }
    .contactus-footer-icons{
        gap:25px;
    }
}