.registration-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #C7C7C780;
}

.input-field-registration {
    border: none;
    border-bottom: 2px solid #69ACE3;
    outline: none;
    width: 80%;
    background-color: transparent;
    padding-left: 1%;
    opacity: 0.6;
}

.input-field-registration-select {
    border: none;
    border-bottom: 2px solid #69ACE3;
    outline: none;
    width: 80%;
    background-color: transparent;
    padding-left: 1%;
    opacity: 0.6;
}

.option {
    opacity: 0.6;
}

.registration-card {
    display: flex;
    justify-content: center;
}

.registration-card .card {
    background: #FFFFFF;
    border-radius: 50px;
    width: 70%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.form-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-label label {
    display: flex;
    padding-left: 10%;
    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    opacity: 0.9;
    font-weight: 500;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

/* .form-submit .submit {
    width: 320px;
    height: 45px;
    background: #1E1E1E;
    border-radius: 50px;
    color: white;
    margin-top: 2%;
    display: inline-block;
} */

.form-submit {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    width: 350px;
}

.button-wrapper button {
    width: 80%;
    height: 45px;
    background: #1E1E1E;
    border-radius: 50px;
    color: white;
    margin-top: 5%;
    border: none;
}

.submit-arrow {
    width: 7px;
    margin-left: 15px;
}

.profile-image-container {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 115px;
    height: 115px;
}

.profile-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-none {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #cccccc;
    background-color: #f0f0f0;
}

.profile-image-upload {
    display: none;
}

.profile-image-edit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 16px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0.7;
    width: 100%;
}
select {
    /* This targets the drop-down arrow */
    /* Adjust the height and width to resize the arrow */
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999919 1L5.68851 6.5118C6.24223 7.16273 7.1483 7.16273 7.70202 6.5118L12.3906 1' stroke='%23000000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-right: 1.5rem;
    height: 2rem;
    width: 2rem;
    /* Add any additional styles you want here */
  }
  
  /* Add this CSS to change the color of the arrow to a darker black */
  select path {
    stroke: #000000;
    
  }

@media (min-width: 320px) and (max-width:480px) {

    /* .form-submit .submit {
        margin-top: 7%;
        display: inline-block;
        width: 200px;
        
    } */
    .form-label label{
        font-size: 18px;
    }
    .button-wrapper {
        width: 320px;
    }

    .form-label label {
        padding-left: 0px;
        padding-bottom: 2%;
        opacity: 0.8;
    }

    .input-field-registration {
        width: 100%;
        font-size: 16px;
        opacity: 0.4;
    }

    .input-field-registration-select {
        width: 100%;
        font-size: 15px;
        opacity: 0.4;

    }

    select {
        /* This targets the drop-down arrow */
        /* Adjust the height and width to resize the arrow */
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999919 1L5.68851 6.5118C6.24223 7.16273 7.1483 7.16273 7.70202 6.5118L12.3906 1' stroke='%23000000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        padding-right: 1.5rem;
        height: 2rem;
        width: 2rem;
        /* Add any additional styles you want here */
      }
      
      /* Add this CSS to change the color of the arrow to a darker black */
      select path {
        stroke: #000000;
        
      }
      
      
      
      
      
      
      




    .button-wrapper button {
        width: 100%;
        height: 45px;
        background: #1E1E1E;
        border-radius: 50px;
        color: white;
        margin-top: 5%;
        border: none;
    }

    .registration-page {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: initial;
        text-align: center;
        background: white;
        padding-top: 5%;
    }

    .form-data {
        padding-top: 10%;
    }

    /* .input-field-registration {
        padding-left: 4%;
    } */
}

@media (min-width: 980px) and (max-width:1920px) {
    .registration-content {
        display: none;
    }

    .back-btn {
        display: none;
    }

    /* .registration-card .card{
        height: 30vh;
    } */
}